.container {
  height: 100vh;
  /* max-width: 992px; */
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container .home-txt {
  border: 0;
  width: 50%;
}

.container .home-img {
  border: 0;
  margin-left: 100px;
  width: max-content;
}
.home-img img {
  left: 0;
  margin: 0;
  width: 80%;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
